@use "reset";
@use "header";
@use "home";
@use "post";

// @use 'variables';
// @use 'base';
// @use 'layout';
// @use 'typography';

// dot grid paper
body {
  background-color: #f5f3f0;
  background-image: radial-gradient(circle, #c4bdb5 1px, transparent 1px);
  background-size: 24px 24px;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}
