---
layout: layouts/base.njk
---

{# there is no content in index.html, it just points to this #}

<div class="home-page">
  <h2> ~ under construction - check back soon! ~</h2>
  <br/>
  <br/>
  <br/>
  <nav class="home-grid">
    <a href="/website" class="home-grid__navigation-link">
      <div class="home-grid__item home-grid__website">
        Website
      </div>
    </a>

    <a href="/about" class="home-grid__navigation-link">
      <div class="home-grid__item home-grid__about">
        About
      </div>
    </a>

  </nav>
</div>