<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  <title>Hello Marisha - {% if title %}{{ title }}{% else %}Blog{% endif %}</title>
  <meta name="description" content="Marisha's personal blog">
  <link rel="canonical" href="{{ currentUrl }}">
  {# <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml"> #}
  {# <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png"> #}

  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if title %}{{ title }}{% else %}Marisha's Musings - a creative space by Marisha {% endif %}">
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}A blog written by Marisha.{% endif %}">
  <meta property="og:url" content="http://marisha.dev">
  <meta property="og:site_name" content="Marisha's Musings">
  {# <meta property="og:image" content="{% if photo %}{{ photo }}{% else %}https://marisha.dev/assets/icons/og.png{% endif %}"> #}

  <style>
    {% include "css/styles.css" ignore missing %}
  </style>
  {# <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"> #}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barriecito&family=Cabin+Sketch:wght@400;700&family=Chelsea+Market&family=Crafty+Girls&family=Neucha&family=Pacifico&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>