<header class="header">

  <div class="wrapper header__wrapper">

    <div class="header__title-wrapper">
      <div class="washi-tape washi-tape--circuit washi-tape--overlap-a"></div>
      <div class="washi-tape washi-tape--circle-squares washi-tape--overlap-b"></div>
    </div>

    <a href="/" title="Go to the homepage." class="header__home-link">
      <h1 class="header__title repeated-header">marisha.dev</h1>
    </a>
  
    <div class="header__title-wrapper">
      <div class="washi-tape washi-tape--houndstooth washi-tape--top-right"></div>
    </div>
  </div>
</header>